
body {
    padding: 0;
    margin: 0;
    background-color:#fff ;
}


@font-face {
    font-family: MonseSemiBold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: MonseLight;
    src: url(../fonts/Montserrat-Light.ttf);
}


@font-face {
    font-family: MonseRegular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: MonseMedium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: MonseBold;
    src: url(../fonts/Montserrat-Bold.ttf);
}





.main-cont {
    scroll-snap-type: mandatory;
    overflow-y: scroll;
}

h1 {
    color: #fff;
}

h2 {
    font-family: MonseBold;
    color: #EC1A3B;
    font-size: 2em;
}

h3 {
    font-family: MonseBold;
    color: #637381;
    font-size: 2em;
}

p {
    color: #686868;
    font-family: MonseRegular;
}

.p-0 {
    padding: 0;
}

.header {
    height: 100px;
    background-color: #fff;    
}

.nav-bg {
    background-color: #fff;
}

.debug {
    border: 1px solid #000;
}


.logo {
    width: 150px;
    height: auto;
}



.navbar-light .navbar-nav .nav-link {
    color: #686868;
    font-family: MonseMedium;
    font-size: 16px;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #FF0002;
    font-family: MonseMedium;
    text-decoration-line: underline;
}

.navbar-toggler-icon {
    color: #fff;
}

.nav-item-contact {
    position: relative;
    float: right;
}

/* home */
.home-container {
    min-height: calc(100vh - 123px);
    background-image: url(../images/bg-masthead.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 353px auto;
}


.main-img {
    background-image: url(../images/bg-right.png);
    background-position: center right;
    /* background-position: center center; */
    background-repeat: no-repeat;
    background-size: contain;
    
}

.text-description-logo {
    font-size: 1.3em;
}

.color-hr {
    height: 12px;
    background-image: url(../images/hr.png);
    background-size: 100% 100%;
}

.img-allie{
    width: 100%;
    height: auto;
}

.main-text {
    font-family: MonseBold;
    font-size: 1.7em;
    color: #686868;
}

.colors-col {
    height: 23px;
}

.color-item {
    height: 23px;
}

.img-link-home {
    margin-left: -4em;
}

/* brand odemas */

.brand-odemas-container {
    min-height: 135vh;
    /* min-height: 100vh; */
    background-color: #fff;
    background-image: url(../images/frame-right.png), url(../images/left-ball-top.png);
    background-position: top right, bottom left;
    background-repeat: no-repeat;
    background-size: 328px auto, 244px auto;
    border-top: 1px solid #fff;

}

.cont-odemas-b {
    margin-top: 5em;
}

.item-brand {
    height: 270px;
    position: relative;
}

.item-brand-bottom {
    height: 270px;
    position: relative;
    margin-top: 12em;
}

.item-brand-link {
    height: 270px;
    position: relative;
}

.brand-img {
    z-index: 2;
}

.branch-container {
    height: 100%;
}

.thumb-content {
    height: 200px;
    /* width: 100px; */
    background-color: #fff;
    z-index: 99999;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: -5em;
    position: absolute;
    left: 16%;
    border-radius: 5px;
}

.text-brand {
    font-family: MonseRegular;
    font-size: 12px;
    color: #686868;
    margin-top: 1em;
    line-height: 12px;
}



/* map  */

.map-container {
    min-height: calc(100vh - 23px);
    /* height: 100vh; */
    background-image: url(../images/left-ball-botom.png);
    background-repeat: no-repeat;
    background-position: top  left ;
    background-size: 244px auto;
}

.map-image-container {
    height: 80vh;
    background-image: url(../images/mapa-desktop.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: top center;
}



/* who we are */

.who-container {
    min-height: 100vh;
    background-color: #fff;
    position: relative;
    scroll-snap-align: start;
}

.who-we-are-title {
    color: #EC1A3B;
    font-size: 2.5em;
    font-family: MonseSemiBold;
    font-weight: 600;
    
}

.who-content {
    min-height: 40vh;
}

.who-text {
    text-align: justify;
    color: #686868;
    font-family: MonseLight;
    font-weight: bold;
    font-size: 1.2em;
    
}

/* video */

.video-container {
    height: 100vh;
    background-color: #CCCCCC;
}

.video-margin {
    height: 80vh;
    
}

.video-who {
    /* height: auto;
    width: 100%; */
    /* width: 100%; */
    /* margin-top: -3em; */
}



/* our brands */

.our-brands-container {
    min-height: 100vh;
    background-color: #CE0E2D;
}

.vision-container {
    background-color: #fff;
    border-radius: 40px;
    height: auto;
    color: #3369c3;
    margin-right: -10em;
    z-index: 2;
}

.mision-container {
    background-color: #fff;
    border-radius: 40px;
    height: auto;
    color: #3369c3;
}

.title-vision {
    font-weight: bold;
    font-size: large;
}

.right-col-img {
    background-image: url(../images/bg-brand-1.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 100% auto;
    
}

.right-col-img-r {
    background-image: url(../images/bg-brand-2.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 105% auto;
    
}

.vision-container-r {
    background-color: #fff;
    border-radius: 40px;
    height: auto;
    color: #3369c3;
    margin-left: -10em;
    z-index: 3;
}

.mision-container-r {
    
    background-color: #fff;
    border-radius: 40px;
    height: auto;
    color: #3369c3;

}


/* mision vision */

.mision-vision-container {
    min-height: 100vh;
    background-color: #fff;
    background-image: url(../images/frame-top-vision.png), url(../images/frame-botom-mision.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top -25px right 0, bottom -10px right 35% ;
    background-size: 200px auto, 250px auto;
}

.text-mi-vi {
    color: #637381; 
}

.text-regular-vi {
    font-size: 14px;
    font-family: MonseMedium;
}

.text-bold-vi {
    font-size: 18px;
    font-family: MonseBold;

}


/* footer */

.footer-container {
    min-height: 55vh;
    background-color: #fff;

}

.footer-info {
    font-size: 14px;
    font-family: MonseMedium;
    color: #186ACA;   
}

.ctas-footer {
    font-family: MonseSemiBold;
    font-size: 14px;
    color: #686868;
    line-height: 24px;
    /* word-spacing: 9px; */

}

.copy-rigth-text {
    font-family: MonseLight;
    font-size: 0.8em;
    color: #637381;
}
.image-footer {
    /* height: 150px; */
    /* background-image: url(../images/bg-footer-odemas.png);
    background-repeat: no-repeat; */

}


@media (max-width: 767.98px) { 

    .vision-container {
        margin-right: 0;
    }

    .vision-container-r {
        margin-left: 0;
    }

    .col-vision-section {
        margin-left: 0;
    }

    .img-link-home {
        margin-left: 0;
    }

    .home-container {
        background-size: 75px auto;   
    }
    
    .item-brand-bottom {
        margin-top: 5em;
    }
    
    .item-brand-link {
        margin-top: 5em;       
    }

    .branch-container {
        height: 50%;
    }

    .brand-odemas-container{
        /* min-height: 100vh; */
        background-size: 128px auto, 244px auto;
    
    }

    .thumb-content { 
        margin-top: -3em;
    }

    /* .map-container { 
        height: 75vh;
    } */
    /* .map-image-container {
        height: 100%;
    } */

    .text-brand {
        font-family: MonseRegular;
        font-size: 10px;
        color: #686868;
        margin-top: 1em;
        line-height: 12px;
    }
    

 }





